:root {
  --base-color: #313131;
  --secondary-base: #222;
  --base-accent: #ff5436;
  --secondary-accent: #a31800;
  --base-text: #fff;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --h5-size: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  background: url(img/5-dots.webp);
  background-color: var(--secondary-base);
  font-size: 16px;
  display: grid;
  grid-template-rows: 6rem 1fr 5rem;
  grid-template-columns: 1fr;
  justify-content: center;
  color: #fff;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary-base);
  height: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
  background-attachment: fixed;
}
.link {
  text-decoration: none;
  color: var(--base-text);
  cursor: pointer;
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
  margin-bottom: 0.5rem;
}
h5 {
  font-size: var(--h5-size);
}
p {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0 10%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-base);
  z-index: 1000;
}
.logo img {
  height: 3.2rem;
  margin: 0;
  display: block;
  transition: all 0.4s ease;
}
.logo img:hover {
  transform: scale(1.02);
}
.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}
.menu-open,
.menu-close {
  display: none;
}
.menu > li > a {
  transition: 0.4s ease;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 6rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background-color: var(--base-color);
}
.menu > li > a:hover {
  background-color: var(--secondary-accent);
}
.menu > li {
  position: relative;
}
.menu > li:hover .services-submenu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.services-submenu {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: -17px;
  padding: 1rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transform: translateX(-24px);
  transition: all 0.4s ease;
  min-width: 19rem;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}
.services-submenu li {
  position: relative;
}
.services-submenu > li > a {
  padding: 0.5rem 2rem;
  background-color: var(--base-color);
  display: flex;
  display: block;
  transition: all 0.4s ease;
  border-radius: 0.3rem;
  gap: 1rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.services-submenu a:hover {
  background-color: var(--secondary-accent);
}
.scrap-submenu {
  list-style-type: none;
  position: static;
  opacity: 0;
  max-height: 0;
  margin: 0;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.services-submenu li:hover .scrap-submenu {
  opacity: 1;
  max-height: 100vh;
  pointer-events: auto;
  transform: translateY(0);
  padding-top: 1rem;
}
.services-submenu li.open .scrap-submenu {
  opacity: 1;
  max-height: 100vh;
  pointer-events: auto;
  transform: translateY(0);
  padding-top: 1rem;
}
.scrap-submenu > li > a {
  padding: 0.5rem 2rem;
  background-color: var(--base-color);
  display: flex;
  display: block;
  transition: all 0.4s ease;
  border-radius: 0.3rem;
  gap: 1rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
main {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}
.promotion-container {
  background-color: var(--secondary-base);
  padding: 2rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.promotion-container h3 {
  text-align: center;
}
.promotion-container p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card i {
  font-size: 4.5rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2;
  background-color: var(--secondary-base);
  padding: 4rem;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
  background-color: var(--secondary-accent);
}
.facebook-container {
  width: 100%;
  display: flex;
}
.fb-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2;
  background-color: var(--secondary-base);
  padding: 3rem;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
  text-align: center;
  width: 100%;
}
.fb-card i {
  font-size: 5rem;
}
.fb-card:hover {
  background-color: #1877f2;
  transform: scale(1.01);
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-base);
  padding: 2rem;
  border-radius: 0.3rem;
  gap: 1rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.contact-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-header h3 {
  margin: 0 auto;
}
.contact-name {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  align-items: center;
}
.contact-name img {
  height: 2rem;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 100% auto;
  height: 100%;
  height: 35rem;
  background-color: var(--base-color);
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.contact-info {
  display: grid;
  gap: 1rem;
  background-color: var(--secondary-base);
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  min-width: 19rem;
}
.contact-info i {
  font-size: 1.5rem;
}
.contact-info span {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.contact-info span:hover {
  color: var(--secondary-accent);
}
.contact-info span:first-child {
  color: var(--base-text);
}
.tel:hover {
  color: var(--secondary-accent);
}
iframe {
  border: none;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.pricing-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left middle right";
  gap: 2rem;
}
.pricing-info-left {
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-info-left ul > li {
  margin-top: 0.5rem;
}
.pricing-info ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-info-middle {
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 2rem;
  grid-area: middle;
}
.pricing-info-middle input[type="number"] {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--base-color);
  color: var(--base-text);
  outline: none;
  appearance: textfield;
  -moz-appearance: textfield;
  font-size: 1rem;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  box-sizing: border-box;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--base-color);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  color: var(--base-text);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(img/drop.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  cursor: pointer;
}
.pricing-info-right {
  background-color: var(--secondary-base);
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  grid-area: right;
  display: flex;
  flex-direction: column;
}
.pricing-info p {
  line-height: 1.5;
}
.pricing-info-left ul {
  margin-left: 1rem;
}
#wynik {
  margin: 0;
}
.metal-container {
  display: grid;
  gap: 2rem;
}
.metal-table {
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  padding: 1rem;
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
  display: flex;
}
table {
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
thead > tr {
  font-size: 1.5rem;
}
tr {
  text-align: center;
  padding: 1rem;
  transition: all 0.4s ease;
  cursor: pointer;
}
td:first-child {
  text-align: left;
  padding-left: 1rem;
}
th {
  text-transform: uppercase;
}
td,
th {
  padding: 0.5rem;
  min-height: 1.5rem;
  height: auto;
  line-height: 1.4;
  vertical-align: middle;
}
th:nth-of-type(1) {
  border-radius: 0.3rem 0 0 0;
}
th:nth-of-type(2) {
  border-radius: 0 0.3rem 0 0;
}
tr:nth-child(2n) {
  background-color: var(--base-color);
}
.metal-table thead tr {
  background-color: var(--base-color);
}
.metal-table tbody tr:hover {
  color: var(--secondary-accent);
}
.conditions-container,
.codex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.conditions-content,
.codex-content {
  background-color: var(--secondary-base);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 2rem;
}
.codex-content-1st {
  text-align: center;
  background-color: var(--secondary-base);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.codex-content ol {
  margin-left: 1rem;
}
.codex-content ol > li {
  margin-bottom: 1rem;
}
.codex-content h4 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.conditions-content ul > li {
  margin-bottom: 0.5rem;
}
.conditions-content ul > li > ul > li {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.conditions-content h4 {
  text-align: center;
}
.legal-container {
  display: grid;
  gap: 2rem;
}
.heat-content h4 {
  text-align: center;
}
.decision {
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  padding: 2rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.decision p,
ul {
  margin-bottom: 1rem;
}
.decision h4 {
  text-align: center;
  margin-bottom: 1rem;
}
.decision-info ul {
  margin-left: 1rem;
}
.decision-img img {
  max-height: 30rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  cursor: zoom-in;
  transform: all 0.4s ease;
  display: block;
}
.decision-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  justify-content: space-between;
  grid-template-areas: "info img";
}
.decision-info {
  grid-area: info;
}
.decision-img {
  grid-area: img;
  width: max-content;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0.3rem;
}
.id-requirement {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.id-requirement h4 {
  margin-bottom: 1rem;
  text-align: center;
}
.id-requirement ul {
  margin-left: 1rem;
}
.rodo {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.rodo h4 {
  text-align: center;
  margin-bottom: 1rem;
}
.rodo h5 {
  text-align: left;
  margin-bottom: 0.5rem;
}
.rodo ul {
  margin-left: 1rem;
}
.rodo-ado {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.monitoring {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.monitoring h4 {
  text-align: center;
}
.tax-requirement {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.tax-requirement h4 {
  text-align: center;
}
.tax-requirement ol,
ul {
  margin-left: 1rem;
}
.locksmithing-container {
  display: grid;
  gap: 2rem;
}
.locksmithing-container h4 {
  margin-bottom: 1rem;
  text-align: center;
}
.locksmithing {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.montage {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.safety {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.locksmithing-promotion {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.heat-content {
  padding: 2rem;
  background-color: var(--secondary-base);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.contact-container-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-base);
  padding: 2rem;
  border-radius: 0.3rem;
  gap: 1rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
footer {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-base);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1366px) {
  .pricing-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "left right"
      "middle middle";
    gap: 2rem;
  }
  .pricing-info-middle {
    margin: 0;
    gap: 1rem;
  }
  .menu > li > a {
    width: 6rem;
    padding: 0.8rem 0.5rem;
  }
  .decision-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "info";
  }
  .decision-img {
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  main {
    gap: 1rem;
    margin: 1rem auto;
  }
  .logo img {
    height: 2.8rem;
  }
  .menu > li > a {
    width: 6rem;
    padding: 0.7rem 0.2rem;
  }
  .services-submenu {
    min-width: 15rem;
    width: 100%;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .card i {
    font-size: 3.5rem;
  }
  .fb-card i {
    font-size: 3.5rem;
  }
  .card {
    font-size: 1rem;
  }
  .contact-container {
    height: auto;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .contact-info {
    justify-content: center;
  }
  .pricing-info {
    gap: 1rem;
  }
  .metal-container {
    gap: 1rem;
  }
  thead > tr {
    font-size: 1.3rem;
  }
}
@media (max-width: 890px) {
  h4 {
    font-size: 1.3rem;
  }
  body {
    grid-template-rows: 4rem 1fr 4rem;
  }
  main {
    width: 90%;
  }
  .logo img {
    height: 2.5rem;
  }
  nav {
    padding: 0 5%;
    position: relative;
    position: sticky;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav-left {
    width: 24px;
    height: 28px;
  }
  .menu-open {
    display: block;
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.35s ease, height 0.35s ease;
  }

  .menu.active {
    opacity: 1;
    height: max-content;
    background-color: var(--secondary-base);
    padding: 1rem 0;
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .menu > li > a {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 20rem;
    width: 100%;
    margin: 0 auto;
  }
  .services-submenu > li:first-child {
    margin-bottom: 1rem;
  }

  .menu > li .services-submenu {
    display: block;
    position: static;
    box-shadow: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-8px);
    transition: max-height 0.35s ease, opacity 0.25s ease, transform 0.35s ease;
    pointer-events: none;
  }

  .menu > li .services-submenu > li > a {
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 16rem;
    background-color: var(--base-color);
    margin: 0 auto;
    border-radius: 0.3rem;
    padding: 1rem;
  }

  .menu > li.open .services-submenu {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    padding-top: 1rem;
  }
  .card {
    height: 6rem;
  }
  .contact-name img {
    height: 1.6rem;
  }
  .pricing-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "middle"
      "left"
      "right";
    gap: 2rem;
  }
  .pricing-info {
    gap: 1rem;
  }
  thead > tr {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1rem;
  }
  nav {
    padding: 0 5%;
  }
  .promotion-container {
    padding: 1rem;
    font-size: 1rem;
  }
  .promotion-container h3 {
    font-size: 1.5rem;
  }
  .logo img {
    height: 2.3rem;
  }
  main {
    gap: 1rem;
    width: 90%;
    margin: 1rem auto;
  }
  .promotion-container p {
    margin-top: 0.2rem;
  }
  .cards-container {
    gap: 1rem;
  }
  .card {
    height: 5rem;
    font-size: 0.8rem;
    padding: 2rem 1rem;
  }
  .card i {
    font-size: 2rem;
  }
  .fb-card {
    font-size: 14px;
    height: 3rem;
    padding: 3rem;
    width: 100%;
  }
  .fb-card i {
    font-size: 2rem;
  }
  .contact-header h3 {
    font-size: 1.3rem;
  }
  .contact-info {
    padding: 1rem;
    min-width: 1rem;
  }
  .contact-container {
    padding: 1rem 2rem;
  }
  .contact-name img {
    height: 1.5rem;
  }
  thead > tr {
    font-size: 1.1rem;
  }
  tbody > tr > td {
    font-size: 0.9rem;
  }
  select {
    width: 80%;
    margin: 0 auto;
  }
  .pricing-info-middle input[type="number"] {
    width: 80%;
    margin: 0 auto;
  }
    .decision-img img {
    height: 20rem;
  }
}
